/*
white: #FFFFFF
grey: #D5D6D2
blue-black: #2F2E33
cobalt: #3A5199
*/
* {
    margin:0;
    padding: 0;
    border: 0;
}

.banner-inner-img {
    height: 300px;
    width: auto;
}

body {
    background: #FFFFFF;
    color: #2F2E33;
    margin: 0;
}

h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}

h3 {
    font-size: 175%;
    line-height: 155%;
    padding: 5% 0;
    font-weight: 400;

}

p {
    font-size: 160%;
    line-height: 150%;
    padding: 3% 0;
    text-indent: 2%;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    background: #D5D6D2;
    width: 100%;
    height: 86px;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;

}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 60px;
    background: deepskyblue;
}

/* ---------- NAVIGATION -----------*/

nav {
    float: right;
    padding: 25px 20px 0 0;
}

#menu-icon {
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: url("../images/hamb.svg") center;

}

ul {
    list-style-type: none;
}

nav ul li {
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li a {
    color: #2F2E33;
    text-decoration: none;

}

nav ul li a:hover {
    color: #3A5199;
}

.current {
    color: #3A5199;
}

/* ---------- END OF NAVIGATION -----------*/

.banner-cube {
    height: 580px;
}

#container{
    width: 300px;
    height: 100px;
    position: absolute;
    margin-top: 190px;
    margin-left: 500px;
}
#cube{
    height: 250px;
    width: 250px ;
    transform-style: preserve-3d;
    margin: 0 auto;
    animation: cube 5s infinite linear alternate;
    /*    perspective: 600px;*/
    transition: 1s;
}
#cube div{
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 40px;
    border: 1px solid red;
}

@keyframes cube {
    0%{
        transform: rotate3d(0,0,360deg);
    }
    100%{
        transform: rotate3d(1,1,1,360deg);
    }
}


#left{
    transform-origin: left;
    transform: rotateY(90deg);
}
#right{
    transform-origin: right;
    transform: rotateY(-90deg);
}
#top {
    transform-origin: top;
    transform: rotateX(-90deg);
}

#bottom {
    transform-origin: bottom;
    transform: rotateX(90deg);
}

#back {
    transform: translateZ(-250PX);
}

/*.container {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background: black;*/
    /*position: relative;*/
    /*perspective: 1000px;*/
/*}*/

/*.cube {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*transform-style: preserve-3d;*/
    /*transition: 0.5s transform linear;*/
/*}*/

/*.cube > div {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*border: 20px solid black;*/
    /*box-sizing: border-box;*/
    /*position: absolute;*/
    /*background: yellow;*/

    /*box-shadow: 1px 2px 5px 1px #000 inset;*/

    /*background-size: 50%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

/*}*/

/*.cube .front {*/
    /*transform: rotateX(0deg) translateZ(100px);*/
    /*border-color: deepskyblue;*/
/*}*/

/*.cube .back {*/
    /*border-color:  deepskyblue;*/
    /*transform: rotateX(180deg) translateZ(100px);*/

/*}*/

/*.cube .right{*/
    /*border-color: #3A5199;*/
    /*transform: rotateY(90deg) translateZ(100px);*/
/*}*/

/*.cube .left {*/
    /*border-color: deepskyblue;*/
    /*transform: rotateY(-90deg) translateZ(100px);*/
/*}*/

/*.cube .top {*/
    /*transform: rotateX(-90deg) translateZ(100px);*/
    /*border-color: pink;*/
/*}*/

/*.cube .bottom {*/
    /*transform: rotateX(-90deg) translateZ(100px);*/
    /*border-color: deepskyblue;*/
/*}*/

/*.cube .show-front {*/
    /*transform: rotateX(0deg);*/
/*}*/

/*.cube.show-back {*/
    /*transform: rotateX(-180deg);*/
/*}*/

/*.cube.show-right {*/
    /*transform: rotateY(-90deg);*/
/*}*/

/*.cube .show-left {*/
    /*transform: rotateY(90deg);*/
/*}*/

/*.cube.show-top {*/
    /*transform: rotateX(-90deg);*/
/*}*/
/*.cube.show-bottom {*/
    /*transform: rotateX(90deg);*/
/*}*/
/*.banner {*/
    /*width: 100%;*/
    /*background-color: #FFFFFF;*/
/*}*/

/*.banner-inner {*/
    /*max-width: 1100px;*/
    /*margin: 0 auto;*/
/*}*/


/* ---------- END OF MAIN BANNER -----------*/

.first-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

.second-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

.third-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

.fourth-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

#html {
    background-color: #D5D6D2;
}

#css {
    background-color: #3A5199;
}

#javascript {
    background-color: #D5D6D2;
}

#react {
    background-color: #3A5199;
}

.first-fourth i {
    color: red;
/* 1:13 -----------------------*/
}

.inner-wrapper {
    float: left;
}

#snake {
    background-color: #3A5199;
}

#to-do-list {
    background-color: #D5D6D2;
}

#quote-machine {
    background-color: #FFFFFF;
}

aside {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.inner-wrapper-2 {
    float: left;
    width: 100%;
    background-color: red;
}

.clearfix {
    clear: both;
}
/* ---------- FOOTER -----------*/

footer {
    background-color: white;
    width: 100%;

}

.social {
    list-style-type: none;
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 460px;
    margin: 1%;
}

/*----- 1:32 -----*/

/* ---------- MEDIA -----------*/

@media screen and (max-width: 760px) {
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 125%;
    }
    p {
        font-size: 120%;

    }

    header {
        position: absolute;
    }

    #logo {
        margin: 15px 0 20px -25px;
    }

    #menu-icon {
        display: inline-block;
        visibility: visible;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: deepskyblue;
        right: 20px;
        top: 60px;
        border: 1px solid #FFFFFF;
        width: 50%;
        }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
    }
}